[Unit]
Description=prechacthis container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker compose -f /opt/prechacthis/distrib/docker/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/prechacthis/distrib/docker/docker-compose.yml down

[Install]
WantedBy=docker.service
