
#docPage {
    border-right: solid 2px black;
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    text-align: left;
    overflow: auto;
}
#mainPage_doc {
    position: absolute;
    top: 0;
    left: 350px;
    right: 0;
    height: 100%;
    overflow: auto;
}

#doc_container {
    padding: 1.5ex;
}

#docPage h1 {
    text-align: center;
    margin-bottom: 1.5em;
}

#doc_main {
}
#doc_main ul {
	padding: 0 0 0 3ex;
}
#doc_main ul li {
	padding: 0 0 1ex 0;
}

#doc_main a:visited, #doc_main a:link {
	text-decoration: none !important;
}
#doc_main a:hover {
	text-decoration: underline !important;
}

#doc_textedit {
	width: 200px;
	height: 200px;
}
